flows/PM_Resource_Scheduled.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Automatically add next Available and Target Times.</description>
    <environments>Default</environments>
    <formulas>
        <name>Horizon_End_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Planning_Horizon_End_Date__c}</expression>
    </formulas>
    <formulas>
        <name>Previous_End_Date</name>
        <dataType>Date</dataType>
        <expression>{!Last_Time_Record.Date__c}</expression>
    </formulas>
    <formulas>
        <name>Previous_End_Date_Plus_1</name>
        <dataType>Date</dataType>
        <expression>{!Previous_End_Date} + 1</expression>
    </formulas>
    <interviewLabel>PM: Resource - Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PM: Resource - Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Times</name>
        <label>Create Times</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputReference>New_Times.Times</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Last_Time_Record</name>
        <label>Last_Time_Record</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Times</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Time__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Last_Time_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Resource__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-02</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Times</name>
        <label>New Times</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Create_Times</targetReference>
        </connector>
        <flowName>PM_Resource_Times</flowName>
        <inputAssignments>
            <name>End_Date</name>
            <value>
                <elementReference>Horizon_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Resource</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Start_Date</name>
            <value>
                <elementReference>Previous_End_Date_Plus_1</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
