flows/PM_Resource_Delete.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>You_can_not_delete_Resource_records</name>
        <label>You can not delete Resource records.</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <customErrorMessages>
            <errorMessage>You can not delete Resource records.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Bypass_Validation</name>
        <label>Bypass Validation</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>You_can_not_delete_Resource_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Validation_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bypass_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Times</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Blocks the delete of Resource records (unless Bypass Validation is True).</description>
    <environments>Default</environments>
    <interviewLabel>PM: Resource - Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PM: Resource - Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Project_Resource</name>
        <label>Project Resource</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Project_Resource__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Times</name>
        <label>Times</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Project_Resource</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Project_Resource</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Time__c</object>
    </recordDeletes>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Validation</targetReference>
        </connector>
        <object>Resource__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
