flows/PM_Resource_Times.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Available_i</name>
        <label>Add Available i</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Available_i.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_i</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Available_i.Available_hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_hrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Available_i.Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Available_i.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Available_i.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resource</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Times</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Available_i</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Target_i</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Target_i</name>
        <label>Add Target i</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Taregt_i.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_i</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taregt_i.Target_hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_hrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taregt_i.Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taregt_i.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Target</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taregt_i.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resource</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Times</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Taregt_i</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_i</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_i</name>
        <label>Increment i</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Date_i</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_i</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Loop_i</name>
        <label>Loop i</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Loop_i_Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_i</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>End_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Resource</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Available_i</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <description>Creates a collection of Resource Available and Target Times from Start Date to and including End Date. This subflow assumes there are no existing Times.</description>
    <environments>Default</environments>
    <formulas>
        <name>Available_hrs</name>
        <dataType>Number</dataType>
        <expression>IF( WEEKDAY({!Date_i}) = 1 || WEEKDAY({!Date_i}) = 7, null, {!Resource.Default_Available_hrs_weekday__c}  )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Target_hrs</name>
        <dataType>Number</dataType>
        <expression>IF( WEEKDAY({!Date_i}) = 1 || WEEKDAY({!Date_i}) = 7, null, {!Resource.Default_Target_hrs_weekday__c} )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PM: Times {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PM: Resource - Times</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_i</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Available_i</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time__c</objectType>
    </variables>
    <variables>
        <name>Date_i</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Start_Date</elementReference>
        </value>
    </variables>
    <variables>
        <name>End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Resource.Planning_Horizon_End_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
    <variables>
        <name>Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Resource.Planning_Start_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Taregt_i</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time__c</objectType>
    </variables>
    <variables>
        <name>Times</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time__c</objectType>
    </variables>
</Flow>
