flows/PM_Resource_After_U.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Planning_Horizon_Change</name>
        <label>Planning Horizon Change</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decreased</defaultConnectorLabel>
        <rules>
            <name>Planning_Horizon_Change_Increased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Planning_Horizon_Days__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Planning_Horizon_days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Times</targetReference>
            </connector>
            <label>Increased</label>
        </rules>
    </decisions>
    <description>Creates or Deletes Resource Available and Target Times depending on change in Planning Horizon.</description>
    <environments>Default</environments>
    <formulas>
        <name>New_End_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record__Prior.Planning_Horizon_End_Date__c} + {!$Record.Planning_Horizon_Days__c} -{!$Record__Prior.Planning_Horizon_Days__c}</expression>
    </formulas>
    <formulas>
        <name>Previous_End_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record__Prior.Planning_Horizon_End_Date__c} /* {!$Record.Planning_Horizon_Days__c} (32) Greater than {!$Record__Prior.Planning_Horizon_Days__c} (31) */</expression>
    </formulas>
    <formulas>
        <name>Previous_End_Date_Plus_1</name>
        <dataType>Date</dataType>
        <expression>{!Previous_End_Date} + 1</expression>
    </formulas>
    <interviewLabel>PM: Resource - After U {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PM: Resource - After U</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>Times.Times</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete</name>
        <label>Delete</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>New_End_Date</elementReference>
            </value>
        </filters>
        <object>Time__c</object>
    </recordDeletes>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Planning_Horizon_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Planning_Horizon_days__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Resource__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Times</name>
        <label>Times</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <flowName>PM_Resource_Times</flowName>
        <inputAssignments>
            <name>End_Date</name>
            <value>
                <elementReference>New_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Resource</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Start_Date</name>
            <value>
                <elementReference>Previous_End_Date_Plus_1</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
