flows/Project_Budget_Selected_Budget.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Manual</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Opportunity_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Opportunity_Product</targetReference>
            </connector>
            <label>Opportunity Product</label>
        </rules>
    </decisions>
    <description>Sets the Selected Budget based on Type.</description>
    <environments>Default</environments>
    <formulas>
        <name>Manual_hrs</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Manual_Budget_dphr__c} == 0 , 0 ,{!$Record.Manual_Budget__c} / {!$Record.Manual_Budget_dphr__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Project Budget - Selected Budget {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Budget - Selected Budget</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Selected_Manual</name>
        <label>Selected Manual</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Selected_Budget__c</field>
            <value>
                <elementReference>$Record.Manual_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Budget_hrs__c</field>
            <value>
                <elementReference>Manual_hrs</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Selected_Opportunity</name>
        <label>Selected Opportunity</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Selected_Budget__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Budget_hrs__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.TotalOpportunityQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Selected_Opportunity_Product</name>
        <label>Selected Opportunity Product</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Selected_Budget__c</field>
            <value>
                <elementReference>$Record.Opportunity_Product__r.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Budget_hrs__c</field>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <object>Project_Budget__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
